/Desktop_Application/LETS_Desktop/nbproject/private/
/Desktop_Application/LETS_Desktop/build/
/Desktop_Application/LETS_Desktop/ObseverPattern/build/
/Desktop_Application/LETS_Desktop/ObseverPattern/dist/
/Desktop_Application/LETS_Desktop/ObseverPattern/nbproject/private/
/Desktop_Application/LETS_Desktop/PasswordHashing/nbproject/private/
/Desktop_Application/LETS_Desktop/PasswordHashing/dist/
/Desktop_Application/LETS_Desktop/PasswordHashing/build/
/Desktop_Application/LETS_Desktop/dist/
/RESTful Web Services/PRCSA_API/build/
/Desktop_Application/LETSDatabase/build/
/Desktop_Application/LETSDatabase/dist/